@font-face {
  font-family: "Roc Grotesk";
  font-weight: normal;
  src: url("../fonts/rocgrotesk-regular-webfont.woff");
}

@font-face {
  font-family: "Roc Grotesk";
  font-weight: bold;
  src: url("../fonts/rocgrotesk-bold-webfont.woff");
}
