// screen sizes
$bp-desktop-lg: 1580px;
$bp-desktop-sm: 1440px;
$bp-tablet-lg: 1140px;
$bp-tablet-sm: 956px;
$bp-mobile-lg: 768px;
$bp-mobile-md: 480px;
$bp-mobile-sm: 370px;
$bp-mobile-xs: 320px;

// colors
$black: #000000;
$white: #ffffff;
$yellow: #faf0e6;
$blue-1: #01178b;
$blue-2: #140ca3;
